#button-container {
    width: 400px;
    margin: auto;
    display: -webkit-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
button {
    display: block;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 130px;
    height: 130px;
}
button:hover {
    cursor: pointer;
}
