body {
    background-image: radial-gradient(circle, #FFFFFF, #E6F7FD);
    display: grid;
    grid-template-rows: auto 250px;
}

#buttons-container {
    grid-row: 1;
    margin-left: 5px;
    margin: auto;
    display: -webkit-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
	min-height: 136px;
}

.button {
    background-color: #F8F6D2;
    border-radius: 35px;
    margin: 3px;
    width: 130px;
    height: 130px;
}

button:hover {
    cursor: pointer;
}

#form {
    grid-row: 2;
    margin: auto;
}
